# Cache
.cache/
*/.cache/

# CMake
build/

# CMSIS-Toolbox artifacts
out/
tmp/
.cmsis/
*.cbuild-idx.yml
*.cbuild-pack.yml
*.cbuild-set.yml
*.cbuild-gen.yml
*.cbuild-gen-idx.yml

# Hardware configuration
**/RTE/
**/cubemx/.cproject
**/cubemx/.project
**/cubemx/.settings/
**/cubemx/.mxproject
**/generated/STM32CubeMX/STM32CubeIDE/.cproject
**/generated/STM32CubeMX/STM32CubeIDE/.project
**/generated/STM32CubeMX/STM32CubeIDE/.settings/
**/generated/project.script

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
.vscode/.ipch/
